body {
	background-color: #ccc;
}

h1 {
	font-family: Futura, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 40pt;
	margin-bottom: 0;
}

h2 {
	font-family: Futura, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 25pt;
	margin-top: 0.25rem;
}

ul
{
	list-style-type: none;
}

li {
	display: inline-block;
	width: 40px;
}

.content {
	text-align: center;
}

.countdown {
	font-family: Futura, Helvetica, sans-serif;
	width: 70%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.8);
	padding: 30px 20px;
	color: white;
}

.date-space {
	margin-top: .5rem;
}
